---
import BaseLayout from "@/layouts/BaseLayout.astro";
import siteConfig from "@/site-config";
---

<BaseLayout description={siteConfig.description}>
    <article class="prose">
        <h1 class="text-title">Abdeali Jaroli</h1>
        <p>Technologist. Product Builder. Aspiring Industrialist.</p>
        <p>
            <img
                width="220"
                height="160"
                src="/abdeali.jpeg"
                alt="Hero Image"
            />
        </p>
        <p>
            A full-time learner, hobbyist programmer, design perfectionist,
            aspiring industrialist,
            <a
                href="https://www.industrialmars.com/posts/factorio-part-1  "
                target="_blank"><i>factorio irl</i></a
            >
            believer and world-a-better-place maker (in progress).
        </p>
        <p>
            Presently, building and securing tech at <a
                href="https://www.gsk.com/"
                target="_blank"
                class="prose-link">GSK</a
            >. My weekends are dedicated to running my own tech agency 
            <a
                href="https://www.jarolabs.com/  "
                target="_blank">Jaro Labs</a
            >, where I focus on product development, design, and engineering. I
            also enjoy bringing passion projects to life on my
            <a
                href="https://github.com/abdealijaroli"
                target="_blank"
                class="prose-link">GitHub</a
            >.
        </p>
        <p>
            When I’m not working, you’ll likely find
            me running by the lake, tinkering with robots, or
            savoring a cup of tea (the undisputed highlight of my day).
        </p>
        <p>
            I am currently based in Bangalore, India.
        </p>

        <hr class="hr-line" />

        <p>
            Cool email, right?
            <a
                prose-link
                aria-label={siteConfig.email}
                href={`mailto:${siteConfig.email}`}
            >
                {siteConfig.email}
            </a>. Use it! Tech talk, wild ideas, or just to say hi. Don't be a
            stranger.
        </p>
        <p class="flex gap-x-4 gap-y-2 flex-wrap">
            Also, find me on:
            {
                siteConfig.socialLinks.map((link) => (
                    <a
                        aria-label={link.text}
                        href={link.href}
                        target="_blank"
                        class="prose-link"
                    >
                        <i class:list={[link.icon]} />
                        {link.text}
                    </a>
                ))
            }
        </p>
        <hr class="hr-line" />
        <p>
            <img width="440" height="160" src="/hero2.jpg" alt="Wisdom" />
        </p>
    </article>
</BaseLayout>
