---
import BaseLayout from "@/layouts/BaseLayout.astro";
import siteConfig from "@/site-config";
---

<BaseLayout description={siteConfig.description}>
    <article class="prose">
        <h1 class="text-title">Abdeali Jaroli</h1>
        <p>Technologist, Entrepreneur, and Product Builder.</p>
        <p>
            <img width="640" height="360" src="/hero2.jpg" alt="Hero Image" />
        </p>
        <p>
            Hey, I'm <b>Abdeali Jaroli</b>.
        </p>
        <p>
            A full-time learner, hobbyist programmer, design perfectionist,
            <a
                href="https://www.industrialmars.com/posts/factorio-part-1  "
                target="_blank">factorio irl</a
            >
            believer and world-a-better-place maker (in progress).
        </p>
        <p>
            Currently, building and securing tech at GSK. On weekends, I run my
            own tech agency, freelance and push side projects to GitHub.
        </p>
        <p>
            I'm currently based in <b>Bangalore, India</b>.
        </p>
        <p>
            When I'm not working, you will most likely find me running, watching
            Suits, or sipping tea (my fav of 'em all tbh).
        </p>

        <hr class="hr-line" />
        <p>Find me on</p>
        <p class="flex gap-x-4 gap-y-2 flex-wrap">
            {
                siteConfig.socialLinks.map((link) => (
                    <a
                        aria-label={link.text}
                        href={link.href}
                        target="_blank"
                        class="prose-link"
                    >
                        <i class:list={[link.icon]} />
                        {link.text}
                    </a>
                ))
            }
        </p>
        <p>
            You have to admit, that's a pretty cool email address
            <a
                prose-link
                aria-label={siteConfig.email}
                href={`mailto:${siteConfig.email}`}
            >
                {siteConfig.email}
            </a>.
        </p>
    </article>
</BaseLayout>
